.custom-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #F7F7F7;
  border-radius: 20px;
  position: absolute;
  z-index: 4;
  font-size: 12px;
}

.custom-tooltip-hover {
  display: flex;
  width: 160px;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 1.3;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text {
  margin-left: 5px;
}

.custom-tooltip-icon {
  width: 20px;
  height: 20px;
}